[submodule "p0-welcome-alopezd2022"]
	path = p0-welcome-alopezd2022
	url = https://github.com/clases-julio/p0-welcome-alopezd2022.git
[submodule "p1-introc-alopezd2022"]
	path = p1-introc-alopezd2022
	url = https://github.com/clases-julio/p1-introc-alopezd2022.git
[submodule "p2-introdiseno-alopezd2022"]
	path = p2-introdiseno-alopezd2022
	url = https://github.com/clases-julio/p2-introdiseno-alopezd2022.git
[submodule "p3-implemclases-alopezd2022"]
	path = p3-implemclases-alopezd2022
	url = https://github.com/clases-julio/p3-implemclases-alopezd2022.git
